@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --gradient: linear-gradient(to top, #cbbacc 0%, #e3eeff 99%, #e3eeff 100%);

        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;

        --radius: 0.5rem;
    }

    .dark {
        --gradient: linear-gradient(-20deg, #4e4376 0%, #000000 100%);

        --background:  0 0% 2%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    html:focus-within {
        scroll-behavior: smooth;
    }
    body {
        @apply bg-gradient bg-background text-foreground;
    }
}


@layer components {
    .heading {
        @apply text-heading1 flex flex-col items-center font-retro-grave pt-10;
    }

    .mail {
        @apply text-control fixed before:w-px left-8 bottom-0 rotate-180 before:mb-4 max-md:hidden;
        writing-mode: vertical-rl;
    }

    .social-nav {
        @apply right-8 flex items-center gap-[12px]
            md:flex-col md:fixed md:bottom-0 md:after:w-px
            max-md:justify-center max-md:pt-10
    }

    .social-nav::after,
    .mail::before {
        @apply h-[90px] bg-foreground inline-block;
    }

    .social-link {
        @apply transition-transform hover:-translate-y-[5px] p-2;
    }

    .cover-column {
        @apply flex items-center justify-center p-8;
    }

    .screen {
        @apply min-h-screen px-6 md:px-20 pb-24;
    }

    .cool {
        color: transparent;
        background: top / contain no-repeat url('/assets/cool.png');
    }

    .glass {
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3px);
    }

    .dark .glass {
        background: rgba(0, 0, 0, 0.5);
    }

    .form-item {
        @apply flex flex-col items-start;
    }

    .form-item_required-field::after {
        content: '*';
        font-family: 'Courier New', Courier, monospace;
    }

    @property --a {
        syntax: "<percentage>";
        inherits: false;
        initial-value: 30%;
    }

    @property --b {
        syntax: "<percentage>";
        inherits: false;
        initial-value: 60%;
    }

    @property --c {
        syntax: "<percentage>";
        inherits: false;
        initial-value: 60%;
    }

    @property --d {
        syntax: "<percentage>";
        inherits: false;
        initial-value: 30%;
    }

    @keyframes movecenter {
        from {
            --a: 45%;
            --b: 55%;
            --c: 55%;
            --d: 45%;
        }
        25% {
            --a: 45%;
            --b: 45%;
            --c: 55%;
            --d: 55%;
        }
        50% {
            --a: 55%;
            --b: 45%;
            --c: 45%;
            --d: 55%;
        }
        75% {
            --a: 55%;
            --b: 55%;
            --c: 45%;
            --d: 45%;
        }
        to {
            --a: 45%;
            --b: 55%;
            --c: 55%;
            --d: 45%;
        }
    }

    .cover {
        background:
            radial-gradient(ellipse at var(--a) var(--b), #bcd2f5, transparent 40%),
            radial-gradient(ellipse at var(--c) var(--d), #dbd3fe, transparent 40%);
        animation-name: movecenter;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier();
        animation-duration: 6s;
    }

    .dark .cover {
        background: none;
        animation: none;
    }
}